Source: libtui-ruby
Priority: optional
Maintainer: Freegeek Coders <coders@freegeek.org>
Uploaders: Martin Chase <stillflame@freegeek.org>, Vagrant Cascadian <vagrant@freegeek.org>, Ryan Niebur <ryanryan52@gmail.com>
Build-Depends: debhelper (>= 5.0.0), cdbs, ruby1.8, ruby-pkg-tools
Standards-Version: 3.8.0
Section: libs

Package: libtui-ruby1.8
Section: libs
Architecture: all
Depends: ${misc:Depends}, libruby1.8, ruby1.8, libreadline-ruby1.8
Description: command-line interface helper utility for ruby
 a bunch of functions for dealing with basic command-line interface
 issues, like coloration and prompting.

Package: libtui-ruby-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libruby1.8, ruby1.8, libreadline-ruby1.8
Description: command-line interface helper utility for ruby (documentation)
 a bunch of functions for dealing with basic command-line interface
 issues, like coloration and prompting.

Package: libtui-ruby
Section: libs
Architecture: all
Depends: ${misc:Depends}, libtui-ruby1.8
Suggests: libtui-ruby-doc
Description: command-line interface helper utility for ruby (metapackage)
 a bunch of functions for dealing with basic command-line interface
 issues, like coloration and prompting.
