Source: libtui-ruby
Priority: optional
Maintainer: Freegeek Coders <coders@freegeek.org>
Uploaders: Martin Chase <stillflame@freegeek.org>, Vagrant Cascadian <vagrant@freegeek.org>, Ryan Niebur <ryanryan52@gmail.com>
Build-Depends-Indep: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.6.1
Section: libs

Package: libtui-ruby
Section: libs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libruby1.8, ruby1.8, libreadline-ruby1.8
Description: command-line interface helper utility for ruby
 a bunch of functions for dealing with basic command-line interface
 issues, like coloration and prompting.
